<script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js"/>
<script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/js/bootstrap.min.js"/>
<script src="http://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"/>
<script src="http://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"/>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"/>
<script src="https://code.jquery.com/ui/1.9.1/jquery-ui.js"/>
<script src="/js/angularController.js"/>

<script>$(document).ready(function () {
    $('.grid').DataTable();
});
</script>