<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Alluminium</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Strona główna</a></li>
                <li><a href="#">Rozpocznij test</a></li>
                <li><a href="#">Lista wyników</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Zadania <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Marzec 2015</a></li>
                        <li><a href="#">Kwiecie 2016</a></li>
                        <li><a href="#">Czerwiec 1337</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">undy grundig</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Moje konto</a></li>
                <li><a th:href="@{?lang=pl}"><img src="images/pl.png" alt="PL"/></a></li>
                <li><a th:href="@{?lang=en}"><img src="images/eng.png" alt="EN"/></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>
<form id="my_form" th:action="@{/logout}" method="post">
</form>