<nav xmlns:th="http://www.w3.org/1999/xhtml" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" th:text="#{alluminium}"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li id="createTestTab" sec:authorize="hasAuthority('ADMIN') or hasAuthority('SUPERADMIN')"><a
                        href="/test/create"
                        th:text="#{navigation.createTest}"></a>
                </li>

                <li id="showResultsTab" sec:authorize="isAuthenticated()"><a href="#" th:text="#{navigation.results}" th:href="@{/showResults}"></a></li>

                <li id="usersTab" sec:authorize="hasAuthority('ADMIN') or hasAuthority('SUPERADMIN')"><a href="/users"
                                                                                                         th:text="#{navigation.users}"></a>
                </li>
                <li id="testsTab" sec:authorize="hasAuthority('ADMIN') or hasAuthority('SUPERADMIN')"><a
                        href="/test/all"
                        th:text="#{navigation.tests}"></a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li sec:authorize="!isAuthenticated()"><a href="/login" th:text="#{login.login}"></a></li>
                <li><a th:href="@{?lang=pl}"><img src="/images/pl.png" alt="PL"/></a></li>
                <li><a th:href="@{?lang=en}"><img src="/images/eng.png" alt="EN"/></a></li>
                <li sec:authorize="isAuthenticated()" class="dropdown" ng-init="getMsgCount()">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <span th:text="#{messages}"></span>
                        <span class="badge">{{unreadNotification}}</span>
                    </a>
                    <ul class="dropdown-menu" ng-init="getTop5Notifications()">
                        <li ng-repeat="notification in data3">
                            <a ng-href="/messages/{{notification.id}}"
                               ng-click="changeNotificationStatus(notification.id)" ng-if="(!notification.unread)">
                                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                {{notification.topic}}
                            </a>
                            <a ng-href="/messages/{{notification.id}}"
                               ng-click="changeNotificationStatus(notification.id)" ng-if="(notification.unread)">
                                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                <strong>{{notification.topic}}</strong>
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/messages}" th:text="#{navigation.showAll}"></a></li>
                    </ul>
                </li>
                <li sec:authorize="isAuthenticated()" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <span sec:authentication="principal.username"></span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/user/edit}" th:text="#{navigation.editUser}"></a></li>
                        <li><a th:href="@{/sendMessage}" th:text="#{sendMessage.title}"></a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="javascript:{}" onclick="document.getElementById('my_form').submit();"
                               th:text="#{logout}"></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
</nav>
<form id="my_form" th:action="@{/logout}" method="post">
</form>