<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title></title>
</head>
<body>
<section>
    <h2>Add Subject Group</h2>
    <form action="#" th:action="@{/sg/add}" th:object="${subjectGroup}" method="POST">
        <p><input type="text" th:field="*{name}" placeholder="Name..."/></p>
        <h3>Options</h3>
        <button type="submit" name="addOption">Add Option</button>
        <button type="submit" name="addAOption">Add another Option</button>

        <table>
            <tr th:each="option, rowStat : *{options}">
                <td><input type="text" th:field="*{options[__${rowStat.index}__].name}" placeholder="Option..."/></td>
            </tr>
        </table>
        <button type="submit">Add</button>
    </form>
</section>
</body>
</html>