<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layout">
<head>
    <title>Formularz tworzenia nowego testu</title>
</head>
<body>
<div layout:fragment="content">
    <form class="form-register" enctype="multipart/form-data" method="post">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Formularz tworzenia nowego testu</h3>
            </div>
            <div class="panel-body">
                <div class="alert alert-success" role="alert">
                    <strong>ok!</strong> utworzono poprawnie
                </div>
                <div class="alert alert-danger" role="alert">
                    <strong>Coś zjebane!</strong> Uzupełnij jakieś pole
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="nazwaTest">Nazwa testu</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="nazwaTest" name="nazwaTest"
                                   placeholder="Wpisz nazwe testu" required="required"/>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label>Wybierz grypy ktore maja miec dostep:</label>
                        <select class="form-control" multiple="multiple">
                            <option>chumanisci</option>
                            <option>sekretarki</option>
                            <option>dziwki prezesa</option>
                            <option>programisci</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="nazwaTest">Ilość prób</label>
                        <div class="input-group">
                            <input type="number" class="form-control" id="nazwaTest" name="iloscProb"
                                   placeholder="Ile prób dozwolonych?" required="required"/>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="nazwaTest">Rozpoczęcie</label>
                        <div class="input-group">
                            <input type="date" class="form-control" id="nazwaTest" name="iloscProb" placeholder=""
                                   required="required"/>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="nazwaTest">Zakończenie</label>
                        <div class="input-group">
                            <input type="date" class="form-control" id="nazwaTest" name="iloscProb" placeholder=""
                                   required="required"/>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="sel1">Następne pytanie typu:</label>
                        <select class="form-control">
                            <option>wiele z wielu (a,b,c,d,..)</option>
                            <option>odpowiedz tekstowa</option>
                            <option>odpowiedz kod programu</option>
                            <option>graficzne</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="nazwaTest">Wpisz pytanie</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="nazwaTest" name="iloscProb" placeholder=""
                                   required="required"/>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                        <th:block
                                th:utext="'Wpisz możliwe odpowiedzi (każda w nowej lini, prawidłową rozpocznij od ciągu &lt;*&gt; np.'">
                        </th:block>
                        <pre th:utext="'sól'+'&lt;br/&gt;'+'&lt;*&gt;pieprz'+'&lt;br/&gt;cebula'">
                            </pre>

                    </div>
                    <div class="form-group col-md-6">
                        <label for="nazwaTest">Odpowiedzi</label>
                        <div class="input-group">
                            <textarea rows="10" class="form-control"></textarea>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                        </div>

                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="nazwaTest">Wpisz pytanie</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="nazwaTest" name="iloscProb" placeholder=""
                                   required="required"/>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="nazwaTest">Odpowiedz</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="nazwaTest" name="iloscProb" placeholder=""
                                   required="required"/>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                        </div>

                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="nazwaTest">Wpisz pytanie</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="nazwaTest" name="iloscProb" placeholder=""
                                   required="required"/>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="nazwaTest">załaduj odpowiedzi graficzne, niech poprawna ma nazwe pliku <em>odp_poprawna</em></label>
                        <div class="input-group">
                            <input type="file" class="form-control" id="nazwaTest" name="iloscProb" placeholder=""
                                   required="required" multiple="multiple"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-asterisk">
                                </span>
                            </span>
                        </div>

                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="nazwaTest">Polecenie do zadania programistyczneog</label>
                        <div class="input-group">
                            <textarea rows="5" class="form-control"></textarea>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-asterisk">
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="nazwaTest">Napisz program sprawdzajacy</label>
                        <div class="input-group">
                            <textarea rows="30" class="form-control"></textarea>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-asterisk">
                                </span>
                            </span>
                        </div>

                    </div>

                </div>
                <input type="submit" name="submit" id="submit" value="Zakończ tworzenie testu"
                       class="btn btn-primary pull-right"/>

            </div>
        </div>

    </form>
</div>
</body>
</html>