<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title th:text="#{login.register}"></title>
</head>
<body>
<div layout:fragment="content" class="container">
    <form class="form-register">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Edytuj swój profil <strong>nazwa_loginu</strong></h3>
            </div>
            <div class="panel-body">
                <div class="alert alert-success" role="alert">
                    <strong>Well done!</strong> You successfully read this important alert message.
                </div>
                <div class="alert alert-info" role="alert">
                    <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
                </div>
                <div class="alert alert-warning" role="alert">
                    <strong>Warning!</strong> Best check yo self, you're not looking too good.
                </div>
                <div class="alert alert-danger" role="alert">
                    <strong>Oh snap!</strong> Change a few things up and try submitting again.
                </div>
                <div class="row">
                    <div class="form-group col-md-6">

                        <label for="InputName">Imię</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="InputName" name="InputName" value="Aktualne imie" placeholder="Imie"/>

                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="InputLastName">Nazwisko</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="InputLastName" name="InputLastName" value="Aktualne nazwisko" placeholder="Nazwisko"/>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">

                        <label for="InputEmail">Adres email</label>
                        <div class="input-group">
                            <input type="email" class="form-control" id="InputEmail" name="InputEmail" value="Aktualny email"  placeholder="Enter Email"/>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">

                        <label for="InputPassword">Haslo</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="InputPassword" name="InputPassword" placeholder="Haslo"/>

                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="InputPasswordSecond">Potwierdź Hasło</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="InputPasswordSecond" name="InputPasswordSecond" placeholder="Haslo"/>

                        </div>
                    </div>
                </div>


                <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-primary pull-right"/>

            </div>
        </div>
    </form>
</div>
</body>
</html>