<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title th:text="#{login.login_page}"></title>
</head>
<body>
<div layout:fragment="content">
    <div class="jumbotron" sec:authorize="isAuthenticated()">
        <div class="container">
            <h1 style="float:left" th:text="#{home.welcome}"></h1><span><h1><strong th:text="#{mainPage.user}"></strong>
        </h1></span>

            <h2 th:text="#{mainPage.greetings}"></h2>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#aktywne" aria-controls="aktywne" role="tab"
                                                          data-toggle="tab" th:text="#{mainPage.activeTests}"></a></li>
                <li role="presentation"><a href="#archiwalne" aria-controls="archiwalne" role="tab"
                                           data-toggle="tab" th:text="#{mainPage.activeTests}"></a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="aktywne">.
                    <table class="grid table" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th th:text="#{mainPage.testName}"></th>
                            <th th:text="#{mainPage.attempts}"></th>
                            <th th:text="#{mainPage.numberOfTasks}"></th>
                            <th th:text="#{mainPage.maxPoints}"></th>
                            <th th:text="#{mainPage.endDate}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="test:*{activeTest}">
                            <td><a href="#"
                                   th:text="*{test.name}" data-toggle="modal" data-target="#przystapTest" data-id="*{test.id}" /></td>
                            <td th:text="*{test.attempts}"/>
                            <td th:text="${#lists.size(test.tasks)}"/>
                            <td th:text="*{test.maxPoints}"/>
                            <td th:text="*{test.endDate}"/>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="archiwalne">...
                    <table class="grid table" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th th:text="#{mainPage.testName}"></th>
                            <th th:text="#{mainPage.attempts}"></th>
                            <th th:text="#{mainPage.startDate}"></th>
                            <th th:text="#{mainPage.endDate}"></th>
                            <th th:text="#{mainPage.points}"></th>
                            <th th:text="#{mainPage.maxPoints}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="test:*{archiveTest}">
                            <td th:text="*{test.test.name}" />
                            <td th:text="*{test.attempt}"/>
                            <td th:text="*{test.beginSolution}"/>
                            <td th:text="*{test.endSolution}"/>
                            <td th:text="*{test.points}"/>
                            <td th:text="*{test.test.maxPoints}"/>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="modal fade" id="przystapTest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Przystępujesz do testu <strong>xyz</strong>
                                </h4>
                            </div>
                            <div class="modal-body">
                                <form class="form-register" method="post">
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <label for="nazwaTest">Wpisz hasło dostępu</label>
                                            <div class="input-group">
                                                <input type="password" class="form-control" id="haslodostepu"
                                                       name="haslodostepu" placeholder="Hasło"/>
                                                <span class="input-group-addon"><span
                                                        class="glyphicon glyphicon-asterisk"></span></span>
                                                <script>
                                                    var id = $(this).data("id")
                                                </script>
                                                <input type="submit" name="submit" id="submit" value="Rozpocznij"
                                                    class="btn btn-primary pull-right" th:href="'/solutionTest/'+id"/>
                                            </div>
                                        </div>
                                    </div>
                                    </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <p><a class="btn btn-primary btn-lg" href="#" role="button" th:text="#{more}"></a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Dalej</h2>

                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                    mollis euismod. Donec sed odio dui. </p>

                <p><a class="btn btn-default" href="#" role="button">Krzychu &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>nie wiem</h2>

                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                    mollis euismod. Donec sed odio dui. </p>

                <p><a class="btn btn-default" href="#" role="button">ma problem &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>po co to</h2>

                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
                    porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                    ut fermentum massa justo sit amet risus.</p>

                <p><a class="btn btn-default" href="#" role="button">z erekcja &raquo;</a></p>
            </div>
        </div>

        <hr/>

        <footer>
            <p>&copy; 2015-2016 <strong>Uczestnicy Programowania Zespołowego.</strong></p>
        </footer>
    </div>
</div>
</body>
</html>