<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title th:text="#{login.login_page}"></title>
    <script src="/js/ModalFunctions.js"></script>
</head>
<body>
<div layout:fragment="content">
    <div class="jumbotron" sec:authorize="isAuthenticated()">
        <div class="container">
            <div th:if="${testPasswordError}" class="alert alert-danger">
                <p th:text="#{test.wrongPassword}"></p>
            </div>
            <h1 style="float:left" th:text="#{home.welcome}"></h1>
            <span>
                <h1>
                    <strong th:text="#{mainPage.user}"></strong>
                </h1>
            </span>

            <h2 th:text="#{mainPage.greetings}"></h2>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#aktywne" aria-controls="aktywne" role="tab"
                                                          data-toggle="tab" th:text="#{mainPage.activeTests}"></a></li>
                <li role="presentation"><a href="#archiwalne" aria-controls="archiwalne" role="tab"
                                           data-toggle="tab" th:text="#{mainPage.archivalTests}"></a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="aktywne">.
                    <table class="grid table" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th th:text="#{mainPage.testName}"></th>
                            <th th:text="#{mainPage.attempts}"></th>
                            <th th:text="#{mainPage.numberOfTasks}"></th>
                            <th th:text="#{mainPage.maxPoints}"></th>
                            <th th:text="#{mainPage.endDate}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="test:*{activeTest}">
                            <td><a th:text="*{test.name}" data-toggle="modal" data-target="#modalZHaslem"
                                   th:if="${test.isOpenTest()}"
                                   th:onclick="'showTestModal(' + ${test.id} +','+${test.isOpenTest()}+')'"></a>
                                <a th:text="*{test.name}" data-toggle="modal" data-target="#modalZHaslem"
                                   th:if="${!test.isOpenTest()}"
                                   th:onclick="'showTestModal(' + ${test.id} +','+${test.isOpenTest()}+')'"></a>
                            </td>
                            <td th:text="*{test.attempts}"/>
                            <td th:text="${#lists.size(test.tasks)}"/>
                            <td th:text="*{test.maxPoints}"/>
                            <td th:text="*{test.endDate}"/>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="archiwalne">
                    <table class="grid table" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th th:text="#{mainPage.testName}"></th>
                            <th th:text="#{mainPage.attempts}"></th>
                            <th th:text="#{mainPage.startDate}"></th>
                            <th th:text="#{mainPage.endDate}"></th>
                            <th th:text="#{mainPage.maxPoints}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="test:*{archiveTest}">
                            <td th:text="*{test.name}"></td>
                            <td th:text="*{test.attempts}"></td>
                            <td th:text="*{test.beginDate}"></td>
                            <td th:text="*{test.endDate}"></td>
                            <td th:text="*{test.maxPoints}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal fade" id="modalZHaslem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel"><span
                                        th:text="#{mainPage.startTest}+' '"></span><strong id="nazwaTestu"></strong>
                                </h4>
                            </div>
                            <div class="modal-body">
                                <form id="form_test" class="form-register" action="" method="POST">
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <label id="labelhaslo" for="haslodostepu"
                                                   th:text="#{mainPage.enterPassword}"></label>
                                            <div class="input-group">
                                                <input type="password" class="form-control" id="haslodostepu"
                                                       name="haslodostepu" placeholder="Hasło"/>
                                                <span id="spanTest" class="input-group-addon"><span
                                                        class="glyphicon glyphicon-asterisk"></span></span>
                                                <input type="hidden"
                                                       th:name="${_csrf != null ? _csrf.parameterName : 'testing'}"
                                                       th:value="${_csrf != null ? _csrf.token : 'testing'}"/>
                                                <input type="submit" name="submit" id="submit"
                                                       th:value="#{mainPage.submit}"
                                                       class="btn btn-primary pull-right"
                                                       th:onclick="'checkPassword(' + haslodostepu + ')'"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal"
                                        th:text="#{close}"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <p><a class="btn btn-primary btn-lg" href="#" role="button" th:text="#{more}"></a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Dalej</h2>

                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                    mollis euismod. Donec sed odio dui. </p>

                <p><a class="btn btn-default" href="#" role="button">Krzychu &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>nie wiem</h2>

                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                    mollis euismod. Donec sed odio dui. </p>

                <p><a class="btn btn-default" href="#" role="button">ma problem &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>po co to</h2>

                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
                    porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                    ut fermentum massa justo sit amet risus.</p>

                <p><a class="btn btn-default" href="#" role="button">z erekcja &raquo;</a></p>
            </div>
        </div>

        <hr/>

        <footer>
            <p>&copy; 2015-2016 <strong>Uczestnicy Programowania Zespołowego.</strong></p>
        </footer>
    </div>
</div>
</body>
<script layout:fragment="customScripts">

</script>
</html>