<!DOCTYPE html>
<html lang="pl">
<head>
    <title layout:title-pattern="$CONTENT_TITLE"></title>
    <link th:replace="/fragments/style"/>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="author" content="climerx"/>
</head>
<body>
<div class="container">
    <div th:replace="/fragments/navigation"></div>
    <div layout:fragment="content"></div>
    <div th:replace="/fragments/footer"></div>
</div>
<div th:replace="/fragments/js"></div>
</body>
</html>

