<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Alluminium</title>
</head>
<body>
<h1 th:text="#{login.login_page}"></h1>


<p th:if="${loginError}" th:text="#{login.error_message}"></p>

<div sec:authorize="isAuthenticated()">
    <p th:text="#{login.logged_user}"/>

    <p sec:authentication="name">user</p>

    <form th:action="@{/logout}" method="post">
        <input type="submit" th:value="#{login.logout_submit}"></input>
    </form>
</div>
<div sec:authorize="!isAuthenticated()">
    <form th:action="@{/login}" method="post">
        <label for="username" th:text="#{login.email}"></label>:
        <input type="text" name="username" id="username"/> <br/>
        <label for="password" th:text="#{login.password}"></label>:
        <input type="password" name="password" id="password"/><br/>
        <label for="remember-me" th:text="#{login.remember_me}"></label>
        <input type="checkbox" id="remember-me"/><br/>
        <input type="submit" th:value="#{login.submit}"/>
    </form>
</div>
</body>
<footer>
    <a th:href="@{?lang=en}" th:text="En"></a> |
    <a th:href="@{?lang=pl}" th:text="Pl"></a>
</footer>
</html>