<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title th:text="#{login.login_page}"></title>
</head>
<body class="body stronalogin">
<div layout:fragment="content">
    <form th:action="@{/login}" method="post" class="form-signin">
        <h2 class="form-signin-heading" th:text="#{login.login}"></h2>

        <div th:if="${loginError}" class="alert alert-danger" role="alert">
            <span th:text="${errorMessage}"></span>
        </div>

        <div th:if="${loginExpired}" class="alert alert-danger" role="alert">
            <span th:text="#{login.expired}"></span>
        </div>
        <div th:if="${nieaktualny}" class="alert alert-danger" role="alert">Bledny link weryfikacyjny
        </div>
        <div th:if="${blednyToken}" class="alert alert-danger" role="alert">Podany token juz jest nieaktualny
        </div>
        <div th:if="${aktualny}" class="alert alert-success" role="alert">Twoje konto zostało aktywowane
        </div>
        <label for="username" th:text="#{login.email}" class="sr-only"/>
        <input type="email" name="username" id="username" class="form-control" th:placeholder="#{login.email}"
               required="autofocus"/>
        <label for="password" th:text="#{login.password}" class="sr-only"></label>
        <input type="password" name="password" id="password" class="form-control" th:placeholder="#{login.password}"
               required="required"/>

        <p><a th:href="@{/remindPassword}" th:text="#{login.forgotten_password}"></a> | <a th:href="@{/register}"
                                                                                           th:text="#{login.register}"></a>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{login.submit}"></button>
    </form>
</div>
</body>
</html>