<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title th:text="#{userDetail.your_profile}"></title>
</head>
<body>
<div layout:fragment="content" class="container">
    <h1 th:text="#{messages}"/>
    <div class="list-group" ng-init="getNotifications()">
        <a ng-repeat="notification in data" ng-click="changeNotificationStatus(notification.id)" href=""
           ng-class="({{notification.id}}==activeNotification) ? 'list-group-item active' : 'list-group-item'">
            <h4 class="list-group-item-heading">{{notification.message}}</h4>
            <p class="list-group-item-text">{{notification.date | date:'yyyy-MM-dd HH:mm:ss'}}</p>
        </a>
        <input type="hidden"
               name="${_csrf.parameterName}"
               value="${_csrf.token}"/>

    </div>
    <nav ng-if="totalPages!=1" ng-init="getTotalPages()">
        <ul class="pagination">
            <li id="li0" ng-class="{disabled: pageNumber === 0}">
                <a class="pageLink" ng-click="notificationsFromPage(1)">&laquo;</a>
            </li>
            <li id="li1" ng-class="{disabled: pageNumber === 0}">
                <a class="pageLink" ng-click="notificationsFromPage(pageNumber)">&larr;</a>
            </li>
            <li ng-repeat="n in [] | range:1:totalPages"
                ng-class="{active: n === pageNumber+1}">
                <a class="pageLink" ng-click="notificationsFromPage(n)"
                >{{n}}</a>
            </li>

            <li id="li4" ng-class="{disabled: pageNumber+1 === totalPages}">
                <a class="pageLink" ng-click="notificationsFromPage(totalPages)">&raquo;</a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>