<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title th:text="#{login.login_page}"></title>
</head>
<body>
<div layout:fragment="content">
    <div th:if="${loginError}" class="alert alert-danger">
        <p th:text="${errorMessage}"></p>
    </div>

    <form th:action="@{/remindPassword}" method="post" class="form-signin" th:object="${username}">
        <h2 class="form-signin-heading" th:text="#{login.forgotten_password}"></h2>
        <label for="username" th:text="#{login.email}" class="sr-only"/>
        <input type="email" name="username" id="username" class="form-control" th:placeholder="#{login.email}"
               required="autofocus"/>

        <p><a th:href="@{/login}" th:text="#{login.login}"></a> | <a th:href="@{/register}"
                                                                     th:text="#{login.register}"></a></p>
        <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{send}"></button>
    </form>
</div>
</body>
</html>