<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<head>
    <title>Wyslij wiadomosc</title>
</head>
<body>
<div layout:fragment="content" class="container">
      <form class="form-register" action="" enctype="multipart/form-data" method="post" th:object="${newMessageForm}">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Nowa wiadomosc</h3>
            </div>
            <div class="panel-body">
            <div class="row">
                <div class="form-group col-md-12">
                    <h4>Login uzytkownika lub nazwa grupy:</h4>
                    <div class="input-group">
                        <input type="text" class="form-control" id="receivers" name="receivers" th:field="*{receivers}"/>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
              </div>
             </div>
            <div class="row">
             	<div class="form-group col-md-12">
                  <h4>Temat</h4>
                    <div class="input-group">
                        <input type="text" class="form-control" id="topic" name="topic" th:field="*{topic}"/>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
            </div>
               <div class="row">
                <div class="form-group col-md-12">
                  <h4>Wiadomosc.</h4>
                    <div class="input-group">
                        <textarea rows="30" class="form-control" name="message" th:field="*{message}"></textarea>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>                    
                </div>
            </div>
                <input type="submit" name="submit" id="submit" value="Wyslij wiadomosc" class="btn btn-primary pull-right"/>
            
            </div>
          </div>
          <input type="hidden" th:name="${_csrf != null ? _csrf.parameterName : 'testing'}"
                 th:value="${_csrf != null ? _csrf.token : 'testing'}"/>

      </form>

    </div> <!-- /container -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
