<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title th:text="#{test.solution}"></title>
</head>
<body>
<div layout:fragment="content">
    <form class="form-register" action="/solutionTest" enctype="multipart/form-data" method="post"
          th:object="${solutionTest}">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Rozwiązanie testu <strong>nazwaTestuBycz</strong></h3>
            </div>
            <div class="panel-body">
                <div class="row" th:each="task, rowStat :*{solutionTasks}">
                    <div th:if="${taskTypeChecker.isTaskOpenSolution(task)}" class="form-group col-md-12">
                        <h4 th:text="${rowStat.count}+'. '+*{solutionTasks[__${rowStat.index}__].task.question}"/>
                        <div class="input-group">
                            <input type="text" class="form-control" id="answerOpenTask" name="answerOpenTask"
                                   placeholder="Oodpowiedz słowna" th:field="*{solutionTasks[__${rowStat.index}__].answer}"
                                   required="required"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-asterisk"/>
                            </span>
                        </div>
                        <h2 th:text="*{solutionTasks[__${rowStat.index}__].points}+'/'+*{solutionTasks[__${rowStat.index}__].task.max_points}"/>
                    </div>
                    <div th:if="${taskTypeChecker.isTaskClosedSolution(task)}" class="form-group col-md-12">
                        <h4 th:text="${rowStat.count}+'. '+*{solutionTasks[__${rowStat.index}__].task.question}"/>
                        <div class="input-group">
                            <div class="checkbox" th:each="entry,row:*{solutionTasks[__${rowStat.index}__].answers}">
                                <label>
                                    <input type="checkbox"
                                           th:value="${entry.value}" th:checked="${entry.value}"/>
                                    <span th:text="${entry.key}"/>
                                </label>
                            </div>
                            <h2 th:text="*{solutionTasks[__${rowStat.index}__].points}+'/'+*{solutionTasks[__${rowStat.index}__].task.max_points}"/>
                        </div>
                    </div>
                    <div th:if="${taskTypeChecker.isTaskProgrammingSolution(task)}" class="form-group col-md-12">
                        <h4 th:text="${rowStat.count}+'. '+*{solutionTasks[__${rowStat.index}__].task.question}"/>
                        <div class="input-group">
                            <textarea rows="30" class="form-control"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-asterisk"/>
                            </span>
                            <p th:text="*{solutionTasks[__${rowStat.index}__].points}+'/'+*{solutionTasks[__${rowStat.index}__].task.max_points}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>

</div>
</body>
</html>