<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title th:text="#{test.solution}"></title>
</head>
<body>
<div layout:fragment="content">
    <div th:if="${testSolutionError}" class="alert alert-danger" role="alert">
        <th:block th:text="#{testSolutionError}"></th:block>
    </div>
    <form th:if="!${testSolutionError}" class="form-register" action="/solutionTest" enctype="multipart/form-data"
          method="post" id="form"
          th:object="${solutionTest}">


        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><span th:text="#{testSolution.solvingTest}+' '"></span><strong
                        th:text="*{name}"></strong></h3>
            </div>
            <div class="panel-body">
                <div class="popover bottom" style="" ng-controller="TimerController">
                    <h3 class="popover-title" th:text="${time}"></h3>

                    <div class="popover-content" th:attr="ng-init='Timer('+*{timeToEnd}+')'">
                        <span th:text="#{time}+': '"></span><span><strong>{{minutes}}</strong>min <strong>{{seconds}}</strong>s!</span>
                        <p></p>
                        <input type="submit" name="submitSave" id="submitSave" value="Zapisz" class="btn btn-primary"/>
                    </div>
                </div>
                <div th:if="${Error}" class="alert alert-success" role="alert">
                    <strong>ok!</strong> <span th:text="#{testSolution.saved}"></span>
                </div>
                <div th:if="${Error}" class="alert alert-danger" role="alert">
                    <strong th:text="#{testSolution.timeUp}"></strong> <span th:text="#{testSolution.autoSend}"></span>
                </div>
                <div class="row" th:each="task, rowStat :*{tasks}">
                    <input hidden="hidden" th:field="*{tasks[__${rowStat.index}__].taskType}"/>

                    <div th:if="*{tasks[__${rowStat.index}__].taskType}==1" class="form-group col-md-12">
                        <h4 th:text="${rowStat.count}+'. '+*{tasks[__${rowStat.index}__].task.question}"/>

                        <div class="input-group">
                            <input type="text" class="form-control" id="answerOpenTask" name="answerOpenTask"
                                   th:placeholder="#{testSolution.textAnswer}"
                                   th:field="*{tasks[__${rowStat.index}__].answer}"
                                   required="required"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-asterisk"/>
                            </span>
                        </div>
                    </div>
                    <div th:if="*{tasks[__${rowStat.index}__].taskType}==0" class="form-group col-md-12">
                        <h4 th:text="${rowStat.count}+'. '+*{tasks[__${rowStat.index}__].task.question}"/>

                        <div class="input-group">
                            <div class="checkbox" th:each="entry,row:*{tasks[__${rowStat.index}__].answers}">
                                <label>
                                    <input type="checkbox"
                                           th:field="*{tasks[__${rowStat.index}__].answers[__${entry.key}__]}"
                                           checked="checked"/>
                                    <span th:text="${entry.key}"/>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div th:if="*{tasks[__${rowStat.index}__].taskType}==2" class="form-group col-md-12">
                        <h4 th:text="${rowStat.count}+'. '+*{tasks[__${rowStat.index}__].task.question}+'. '+#{test.programmingSolution}"/>
                        <label for="selectLanguage" th:text="#{testSolution.chooseLang}"></label>
                        <select id="selectLanguage"
                                th:field="*{tasks[__${rowStat.index}__].language}"
                                class="form-control">
                            <option th:each="language:*{tasks[__${rowStat.index}__].languages}" th:value="${language}"
                                    th:text="${language}"></option>
                        </select>
                        <br/>

                        <div class="input-group">
                            <textarea rows="30" class="form-control"
                                      th:field="*{tasks[__${rowStat.index}__].answerCode}"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-asterisk"/>
                            </span>
                        </div>

                    </div>
                    <div th:if="*{tasks[__${rowStat.index}__].taskType}==3" class="form-group col-md-12">
                        <h4 th:text="${rowStat.count}+'. '+*{tasks[__${rowStat.index}__].task.question}"/>
                        <div class="input-group">
                            <textarea rows="5" class="form-control"
                                      th:field="*{tasks[__${rowStat.index}__].answerCode}"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-asterisk"/>
                            </span>
                        </div>

                    </div>
                </div>
                <input type="hidden" th:name="${_csrf != null ? _csrf.parameterName : 'testing'}"
                       th:value="${_csrf != null ? _csrf.token : 'testing'}"/>
                <input type="button" data-toggle="modal" data-target="#myModal" th:value="#{testSolution.finishApproach}"
                       class="btn btn-primary pull-right"  />
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="background: #347AB6; color: white">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" th:text="#{testSolution.warning}"></h4>
                    </div>
                    <div class="modal-body">
                        <p th:text="#{testSolution.confirmText}"></p>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" name="submit1" id="submit" th:value="#{testSolution.buttonConfirm}"
                               class="btn btn-primary pull-right" />
                        <input type="button" class="btn btn-default" data-dismiss="modal" th:value="#{testSolution.buttonClose}"></input>
                    </div>
                </div>

            </div>
        </div>
        <!-- End of modal -->
    </form>

</div>
</body>
</html>