<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title th:text="#{test.createTestForm}"/>
</head>
<body>
<div layout:fragment="content" ng-controller="CreateTestController">
    <form id="testform" action="/test/create" class="form-register" th:object="${createTestForm}"
          method="POST">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" th:text="#{test.createTestForm}"/>
            </div>
            <div class="panel-body">
                <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger">
                    <p th:each="err:${#fields.allErrors()}" th:text="${err}">...</p>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="testName" th:text="#{test.testName}"/>

                        <div class="input-group">
                            <input type="text" class="form-control" id="testName" name="testName" th:field="*{name}"
                                   th:placeholder="#{test.testNamePlaceholder}" required="required"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-asterisk"/>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="attempts" th:text="#{test.testAttempts}"/>

                        <div class="input-group">
                            <input type="number" class="form-control" id="attempts" name="attempts"
                                   th:field="*{attempts}" th:min="1"
                                   th:placeholder="#{test.testAttemptsPlaceholder}" required="required"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-asterisk"/>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="testDateBegin" th:text="#{test.testDateBegin}"/>

                        <div class="input-group">
                            <input type="date" class="form-control" id="testDateBegin" name="testDateBegin"
                                   placeholder="" th:field="*{beginDate}"
                                   required="required"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-asterisk"/>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="testDateEnd" th:text="#{test.testDateEnd}"/>

                        <div class="input-group">
                            <input type="date" class="form-control" id="testDateEnd" name="testDateEnd" placeholder=""
                                   th:field="*{endDate}" required="required"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-asterisk"/>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="testTimePerAttempt" th:text="#{test.testTimePerAttempt}"/>

                        <div class="input-group">
                            <input type="number" class="form-control" id="testTimePerAttempt"
                                   th:field="*{timePerAttempt}" th:min="5"
                                   th:placeholder="#{test.testAttemptTimePlaceholder}" required="required"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-asterisk"/>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="testPassword" th:text="#{test.password}"/>

                        <div class="input-group">
                            <input type="text" class="form-control" id="testPassword" th:field="*{password}"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-asterisk"/>
                            </span>
                        </div>
                    </div>
                </div>
                <div th:each="task, rowStat : *{tasks}">
                    <input hidden="hidden" th:field="*{tasks[__${rowStat.index}__].taskType}"/>

                    <div th:if="*{tasks[__${rowStat.index}__].taskType}==0" class="row">
                        <a href="" th:attr="ng-click='removeQuestion(\''+${rowStat.index}+'\')'"><i
                                class="glyphicon glyphicon-remove-circle usunPytanie"
                                th:title="#{test.removeQuestion}"></i></a>

                        <div class="form-group col-md-5">
                            <label for="question" th:text="${rowStat.count}+'. '+#{test.questionText}"/>

                            <div class="input-group">
                                <input type="text" class="form-control" id="question" name="question"
                                       th:field="*{tasks[__${rowStat.index}__].question}"
                                       placeholder="" required="required"/>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-asterisk">
                                                </span>
                                            </span>
                            </div>
                            <th:block th:utext="#{test.taskClosedHint}"/>
                            <pre th:utext="#{test.taskClosedHintPre}"/>
                        </div>
                        <div class="form-group col-md-5">
                            <label for="answer" th:text="#{test.answers}"/>

                            <div class="input-group">
                                <textarea id="answer" rows="10" class="form-control"
                                          th:field="*{tasks[__${rowStat.index}__].answer}"/>
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-asterisk"/>
                                                </span>
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="nazwaTest" th:text="#{test.points}"/>

                            <div class="input-group">
                                <input type="number" class="form-control"
                                       th:field="*{tasks[__${rowStat.index}__].points}" th:min="1" id="nazwaTest"
                                       required="required"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-asterisk"/>
                                </span>
                            </div>
                            <div class="input-group">
                                <div class="checkbox">
                                    <label>
                                        <input th:id="'checkbox'+${rowStat.index}+'1'"
                                               th:attr="onclick='changeValue(\'checkbox'+${rowStat.index}+'1\')'"
                                               type="checkbox"
                                               th:checked="*{tasks[__${rowStat.index}__].wrongReset}"
                                               th:field="*{tasks[__${rowStat.index}__].wrongReset}"/>
                                        <th:block th:text="#{test.wrongReset}"/>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input th:id="'checkbox'+${rowStat.index}+'2'"
                                               th:attr="onclick='changeValue(\'checkbox'+${rowStat.index}+'2\')'"
                                               type="checkbox"
                                               th:checked="*{tasks[__${rowStat.index}__].countNotFull}"
                                               th:field="*{tasks[__${rowStat.index}__].countNotFull}"/>
                                        <th:block th:text="#{test.countNotFull}"/>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:if="*{tasks[__${rowStat.index}__].taskType}==1" class="row">
                        <a href="" th:attr="ng-click='removeQuestion(\''+${rowStat.index}+'\')'">
                            <i class="glyphicon glyphicon-remove-circle usunPytanie"
                               th:title="#{test.removeQuestion}"></i></a>

                        <div class="form-group col-md-4">
                            <label for="question" th:text="${rowStat.count}+'. '+#{test.questionText}"/>

                            <div class="input-group">
                                <input type="text" class="form-control" id="question" name="question" placeholder=""
                                       th:field="*{tasks[__${rowStat.index}__].question}" required="required"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-asterisk"/>
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="answer" th:text="#{test.answer}"/>

                            <div class="input-group">
                                <input type="text" class="form-control" id="answer" name="answer" placeholder=""
                                       th:field="*{tasks[__${rowStat.index}__].answer}" required="required"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-asterisk"/>
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="nazwaTest" th:text="#{test.caseSensitivity}"/>

                            <div class="checkbox">
                                <label><input type="checkbox" th:field="*{tasks[__${rowStat.index}__].caseSensitivity}"
                                              value="case_sens" th:text="#{yes}"/></label>
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="nazwaTest" th:text="#{test.points}"/>

                            <div class="input-group">
                                <input type="number" class="form-control"
                                       th:field="*{tasks[__${rowStat.index}__].points}"
                                       th:value="*{tasks[__${rowStat.index}__].points}" th:min="1"
                                       id="nazwaTest"
                                       required="required"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-asterisk"/>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div th:if="*{tasks[__${rowStat.index}__].taskType}==2" class="row">
                        <a href="" th:attr="ng-click='removeQuestion(\''+${rowStat.index}+'\')'"><i
                                class="glyphicon glyphicon-remove-circle usunPytanie"
                                th:title="#{test.removeQuestion}"></i></a>

                        <div class="form-group col-md-12">
                            <label for="programmingQuestion"
                                   th:text="${rowStat.count}+'. '+#{test.programmingQuestionLabel}"/>

                            <div class="input-group">
                                <textarea id="programmingQuestion" rows="5" class="form-control"
                                          th:field="*{tasks[__${rowStat.index}__].question}"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-asterisk"/>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div th:if="*{tasks[__${rowStat.index}__].taskType}==2">
                        <div class="row">
                            <div class="form-group col-md-10">
                                <label for="programmingQuestion" th:text="#{test.programmingLanguageChoose}"/>
                                <select th:id="'selectedLanguages'+${rowStat.count}"
                                        th:attr="ng-init='setLanguages(\''+*{tasks[__${rowStat.index}__].languages}+'\','+${rowStat.count-1}+')',ng-change='changeLanguages('+${rowStat.count}+')',ng-model='array['+${rowStat.count-1}+']'"
                                        name="languages[]" multiple="true" ng-multiple="true"
                                        class="form-control"
                                        th:field="*{tasks[__${rowStat.index}__].languages}">
                                    <option ng-repeat="item in languagesSet"
                                            value="{{item.name}}">
                                        {{item.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="nazwaTest" th:text="#{test.points}"/>

                                <div class="input-group">
                                    <input type="number" class="form-control"
                                           th:field="*{tasks[__${rowStat.index}__].points}" th:min="1" id="nazwaTest"
                                           required="required"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-asterisk"/>
                                </span>
                                </div>
                            </div>
                        </div>
                        <div th:each="programmingTask, row : *{tasks[__${rowStat.index}__].programmingTaskForms}"
                             th:if="${programmingTask.hidden}">
                            <input hidden="hidden"
                                   th:field="*{tasks[__${rowStat.index}__].programmingTaskForms[__${row.index}__].language}"/>

                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="whitelist"
                                           th:text="#{test.whiteList}+' '+*{tasks[__${rowStat.index}__].programmingTaskForms[__${row.index}__].language}"/>

                                    <div class="input-group">
                                        <textarea id="whitelist" rows="5" class="form-control"
                                                  th:field="*{tasks[__${rowStat.index}__].programmingTaskForms[__${row.index}__].whiteList}"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-asterisk"/>
                                 </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="testCode"
                                           th:text="#{test.programmingAnswerLabel}+' '+*{tasks[__${rowStat.index}__].programmingTaskForms[__${row.index}__].language}"/>

                                    <div class="input-group">
                                <textarea id="testCode" rows="30" class="form-control"
                                          th:field="*{tasks[__${rowStat.index}__].programmingTaskForms[__${row.index}__].testCode}"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-asterisk"/>
                                 </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="testClassName" th:text="#{test.testClassName}"/>

                                    <div class="input-group">
                                        <input type="text" class="form-control" id="testClassName"
                                               th:field="*{tasks[__${rowStat.index}__].programmingTaskForms[__${row.index}__].testClassName}"/>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-asterisk"/>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="solutionClassName" th:text="#{test.solutionClassName}"/>

                                    <div class="input-group">
                                        <input type="text" class="form-control" id="solutionClassName"
                                               th:field="*{tasks[__${rowStat.index}__].programmingTaskForms[__${row.index}__].solutionClassName}"/>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-asterisk"/>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr/>
                    </div>
                    <div th:if="*{tasks[__${rowStat.index}__].taskType}==3">

                        <div class="row">
                            <a href="" th:attr="ng-click='removeQuestion(\''+${rowStat.index}+'\')'"><i
                                    class="glyphicon glyphicon-remove-circle usunPytanie"
                                    th:title="#{test.removeQuestion}"></i></a>
                            <div class="form-group col-md-10">
                                <label for="sqlQuestion" th:text="${rowStat.count}+'. '+#{test.sqlQuestion}"/>
                                <input type="text" class="form-control" id="sqlQuestion"
                                       th:field="*{tasks[__${rowStat.index}__].question}"/>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="nazwaTest" th:text="#{test.points}"/>
                                <div class="input-group">
                                    <input type="number" class="form-control"
                                           th:field="*{tasks[__${rowStat.index}__].points}" th:min="1" id="nazwaTest"
                                           required="required"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-asterisk"/>
                                </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <th:block th:utext="#{test.preparations}"/>
                                <pre th:utext="#{test.preparationsPre}"/>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="preparationsCode"
                                       th:text="#{test.preparationsCode}"/>
                                <div class="input-group">
                                        <textarea id="preparationsCode" rows="5" class="form-control"
                                                  th:field="*{tasks[__${rowStat.index}__].preparations}"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-asterisk"/>
                                 </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label for="answerCode"
                                       th:text="#{test.answerSQL}"/>
                                <div class="input-group">
                                        <textarea id="answerCode" rows="5" class="form-control"
                                                  th:field="*{tasks[__${rowStat.index}__].answer}"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-asterisk"/>
                                 </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr/>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="selectQuestion" th:text="#{test.nextQuestion}"/>
                        <select id="selectQuestion" ng-model="selectedValue" ng-change="setQuestionType(selectedValue)"
                                class="form-control">
                            <option></option>
                            <option ng-value='0' th:text="#{test.questionType1}"/>
                            <option ng-value='1' th:text="#{test.questionType2}"/>
                            <option ng-value='2' th:text="#{test.questionType3}"/>
                            <option ng-value='3' th:text="#{test.questionType4}"/>
                        </select>
                    </div>
                </div>
                <input type="hidden" th:name="${_csrf != null ? _csrf.parameterName : 'testing'}"
                       th:value="${_csrf != null ? _csrf.token : 'testing'}"/>
                <input type="submit" name="Btnsubmit" id="Btnsubmit" th:value="#{test.finishTest}"
                       class="btn btn-primary pull-right"/>

            </div>
        </div>
    </form>
</div>
</body>
<script layout:fragment="customScripts">
    function changeValue(id) {
        var baseCheckbox = id.substr(0, id.length - 1);
        var appendCheckbox = id.substr(id.length - 1, id.length);
        var anotherCheckbox;
        if (appendCheckbox == '1') anotherCheckbox = '2';
        else anotherCheckbox = '1';
        if (document.getElementById(id).checked == true) {
            document.getElementById(baseCheckbox + '' + anotherCheckbox).checked = false;
        }
        if (document.getElementById(id).checked == false) {
            alert(baseCheckbox + anotherCheckbox);
            if (document.getElementById(baseCheckbox + anotherCheckbox).checked == false) {
                document.getElementById(baseCheckbox + '1').checked = true;
            }
        }
    }
    document.getElementById("createTestTab").className="active";
</script>
</html>