<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Alluminium</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<content>
    <h1 th:text="#{userDetail.your_profile}"></h1>
    <span th:text="${user.name}">imię</span><br/>
    <span th:text="${user.lastName}">nazwisko</span><br/>
    <span th:text="${user.email}">adres e-mail</span><br/>
    <br/><br/>
    <Table>
        <tr>
            <th th:text="Message"></th>
            <th th:text="UID"></th>
            <th th:text="Group"></th>
            <th th:text="Date"></th>
        </tr>
        <tr th:each="notification : ${Notifications}">
            <td th:text="${notification.message}"></td>
            <td th:text="${notification.userId}"></td>
            <td th:text="${notification.userRole}"></td>
            <td th:text="${notification.date}"></td>
        </tr>
    </Table>
</content>
</body>
<footer>
    <a th:href="@{?lang=en}" th:text="En"></a> |
    <a th:href="@{?lang=pl}" th:text="Pl"></a>
</footer>
</html>