<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Alluminium</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<content>
    <h1 th:text="#{users.list_users}"></h1>
    <table>
        <tr>
            <th th:text="#{users.name}"></th>
            <th th:text="#{users.last_name}"></th>
            <th th:text="#{users.role}"></th>
            <th th:text="#{users.email}"></th>
            <th th:text="#{users.view}"></th>
            <th th:text="#{users.edit}"></th>
        </tr>
        <tr th:each="user : ${Users}">
            <td th:text="${user.name}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.role}"></td>
            <td th:text="${user.email}"></td>
            <td><a th:href="${'/user/' + user.id}" th:text="#{users.view}"></a></td>
            <td><a th:href="${'/user/edit/' + user.id}" th:text="#{users.edit}"></a></td>
        </tr>
    </table>
</content>
</body>
<footer>
    <a th:href="@{?lang=en}" th:text="En"></a> |
    <a th:href="@{?lang=pl}" th:text="Pl"></a>
</footer>
</html>