<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Aluminium-register</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Edit User</h1>

<form action="" th:object="${userEditForm}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name Error</td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td><input type="text" th:field="*{lastName}"/></td>
            <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">lastName Error</td>
        </tr>
        <tr>
            <td>Adres email:</td>
            <td><input type="text" th:field="*{email}"/></td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email Error</td>
        </tr>
        <tr>
            <td>Rola:</td>
            <td>
                <select id="userRole" class="form-control" th:field="*{role}">
                    <option th:each="userRole : ${T(com.zespolowka.Entity.Role).values()}" th:value="${userRole}"
                            th:text="${userRole}">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr>
    </table>

</form>
</body>
</html>