<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Alluminium</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<content>
    <h1 th:text="#{userDetail.your_profile}"></h1>
    <span th:text="${user.name}">imię</span><br/>
    <span th:text="${user.lastName}">nazwisko</span><br/>
    <span th:text="${user.email}">adres e-mail</span><br/>

    <table>
        <tr>
            <th >Message</th>
            <th >Date</th>
            <th >Group</th>
            <th >UID</th>
        </tr>
        <tr th:each="notification : ${Notifications}">
            <td th:text="${notification.message}"></td>
            <td th:text="${notification.date}"></td>
            <td th:text="${notification.userRole}"></td>
            <td th:text="${notification.userId}"></td>
            <td><a th:href="${'/deleteNotification/' + notification.id}" th:text="Delete"></a></td>
        </tr>
    </table>
    <td><a th:href="${'/user/edit/'}" th:text="#{users.edit}"></a></td>

</content>
</body>
<footer>
    <a th:href="@{?lang=en}" th:text="En"></a> |
    <a th:href="@{?lang=pl}" th:text="Pl"></a>
</footer>
</html>