<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Alluminium</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1 th:text="#{userEdit.edit_user}"></h1>

<form action="" th:object="${userEditForm}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <table>
        <tr>
            <td th:text="#{userEdit.name}"></td>
            <td><input type="text" th:field="*{name}"/></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name Error</td>
        </tr>
        <tr>
            <td th:text="#{userEdit.last_name}"></td>
            <td><input type="text" th:field="*{lastName}"/></td>
            <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">lastName Error</td>
        </tr>
        <tr>
            <td th:text="#{userEdit.email}"></td>
            <td><input type="text" th:field="*{email}"/></td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email Error</td>
        </tr>
        <tr>
            <td th:text="#{userEdit.role}"></td>
            <td>
                <select id="userRole" th:field="*{role}">
                    <option th:each="userRole : ${T(com.zespolowka.entity.user.Role).values()}" th:value="${userRole}"
                            th:text="${userRole}">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" th:text="#{userEdit.submit}"></button>
            </td>
        </tr>
    </table>
    <input type="hidden" th:name="${_csrf != null ? _csrf.parameterName : 'testing'}"
           th:value="${_csrf != null ? _csrf.token : 'testing'}"/>
</form>
</body>
<footer>
    <a th:href="@{?lang=en}" th:text="En"></a> |
    <a th:href="@{?lang=pl}" th:text="Pl"></a>
</footer>
</html>