<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Alluminium</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1 th:text="#{register.register_form}"></h1>

<form action="#" th:action="@{/register}" th:object="${userCreateForm}" method="post">
    <table>
        <tr>
            <td th:text="#{register.name}"></td>
            <td><input type="text" th:field="*{name}"/></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name Error</td>
        </tr>
        <tr>
            <td th:text="#{register.lastName}"></td>
            <td><input type="text" th:field="*{lastName}"/></td>
            <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">lastName Error</td>
        </tr>
        <tr>
            <td th:text="#{register.email}"></td>
            <td><input type="text" th:field="*{email}"/></td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email Error</td>
        </tr>
        <tr>
            <td th:text="#{register.password}"></td>
            <td><input type="password" th:field="*{password}"/></td>
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password Error</td>
        </tr>
        <tr>
            <td th:text="#{register.confirm_password}"></td>
            <td><input type="password" th:field="*{confirmPassword}"/></td>
            <td th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">confirmPassword Error
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" th:text="#{register.submit}"></button>
            </td>
        </tr>
    </table>
</form>
</body>
<footer>
    <a th:href="@{?lang=en}" th:text="En"></a> |
    <a th:href="@{?lang=pl}" th:text="Pl"></a>
</footer>
</html>